name: GoReleaser

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@master
        with:
          go-version: 1.25.4
      - name: Install bazelisk
        # yamllint disable rule:line-length
        run: |
          sudo wget -O /usr/local/bin/bazel https://github.com/bazelbuild/bazelisk/releases/download/v1.3.0/bazelisk-linux-amd64
          sudo chmod +x /usr/local/bin/bazel
      - name: Check out code
        uses: actions/checkout@master
      - name: stamp version
        run: |
          export VERSION=$(echo $GITHUB_REF|sed 's/refs\/tags\/v//')
          echo "VERSION = '$VERSION'" > version.bzl
      - name: bazel build darwin
        run: bazel run :install
      - name: clean working tree
        run: |
          git checkout -- version.bzl
      - name: setup-syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | \
          sh -s -- -b /usr/local/bin v1.18.1
      - name: Run goreleaser
        uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
          DISCORD_WEBHOOK_ID: ${{ secrets.DISCORD_WEBHOOK_ID }}
          DISCORD_WEBHOOK_TOKEN: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
        with:
          version: v2
          args: release
